.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order__number {
  composes: text text_type_digits-large from global;
  margin-bottom: 32px;
}

.order__text {
  composes: text text_type_main-medium from global;
  text-align: center;
  margin-bottom: 60px;
}

.order__img {
  margin-bottom: 60px;
}

.order__text_start {
  composes: text text_type_main-small from global;
  margin-bottom: 8px;
}

.order__text_wait {
  composes: text text_type_main-default text_color_inactive from global;
}
