.feed_orders {
  max-width: 584px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 872px;
  overflow-y: auto;
  padding: 0 16px 0 0;
}

.feed__order {
  background-color: #1c1c21;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 40px;
  border: 2px solid #1c1c21;
}

.feed_order_num,
.feed_order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed_order_info {
  position: relative;
}

.feed_order_info_imgs {
  display: flex;
  position: relative;
  gap: 10px;
}

.feed_order_info_imgs img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  overflow: hidden;
  background-color: var(--interface-modal-bg);
  z-index: 10;
}

.extra__amount {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img__last {
  opacity: 0.6;
}

.last__img_wrapper > img {
  opacity: 0.3;
}

.order__info_price {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 0;
}

.link__wrapper {
  text-decoration: none;
  color: inherit;
}
