.header__item_link {
  display: flex;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 40px;
  text-decoration: none;
}

.header__item_link:visited {
  color: inherit;
}

.header__item_link.active {
  color: var(--white);
}
